streamlit==1.35.0
sqlite3
opencv-python-headless==4.10.0.82
mediapipe==0.10.14
numpy==1.26.4
uuid
python-dotenv==1.0.1
deepface==0.0.65
tensorflow
langchain==0.2.1
langchain-openai==0.1.8
RealtimeTTS==0.4.0
RealtimeSTT==0.1.15
